.img{
    width: 30%;
}

.container-fluid{
    background-color: black;
}

.navegador{
    background-color: black;
}

.main{
    background-color: rgb(0, 0, 0);
}


.imgFooter{
    width: 50%;
}
.form-label{
    color: white;
}


.instagramFooter{
    text-decoration: none;
}

.parrafoSomos{
    padding: 20px;
}

.card-text{
    color: white;
}

.titulo{
    color: white;
}