.img{
    width: 10%;
    margin:22px;
}

.container-fluid{
    background-color: black;
}

.listado{
text-decoration: none;
}
.carousel{
    width: 30%;
}

.main{
    background-color: rgb(90, 90, 90);
    height: 1000px;
}

.titulo{
    color: white;
}

.subtitulo{
    color: rgb(179, 179, 179);
    font-style: italic;
}

.imgFooter{
    width: 30%;
}
.form-label{
    color: white;
}