.img{
    width: 10%;
    margin:22px;
}

.container-fluid{
    background-color: black;
}

.listado{
text-decoration: none;
}
.carousel{
    margin:5px;
    width: 47%;
}

.main{
    background-color: rgb(90, 90, 90);
    height: 800px;
}
.divPrincipal{
    margin: 10px;
}

.titulo{
    color: white;
}

.subtitulo{
    color: rgb(179, 179, 179);
    font-style: italic;
}

.imgFooter{
    margin: 30px;
    width: 30%;
    height: 30%;
    transform: translate(130px);
}
.form-label{
    color: white;
}


.instagramFooter{
    margin: 30px;
    text-decoration: none;
    transform: translate(90px);
}

.parrafoSomos{
    padding: 20px;
}

.card-text{
    color: white;
}
